<div class="row">
    <div class="col-md-6 m-auto">

        <div class="container mt-5 pl-5">
            <h2 class="text-centre">Create New account
            </h2>
            <form action="/admin/add-product" method="post" enctype="multipart/form-data">
                <div class="form-group">
                    <label>Name</label>
                    <input type="text" name="Name" class="form-control" placeholder="enter name">
                </div>

                <div class="form-group">
                    <label for="">Email address</label>
                    <input type="Email" name="Email" class="form-control" placeholder="Email address" </div>

                    <div class="form-group">
                        <label for="">Password</label>
                        <input type="Password" name="Password" class="form-control" placeholder="Password" </div>

                        <a href="/login">Already have an account ?</a>
                        <button type="submit" class="btn btn-primary float-right">Signup</button>
            </form>
        </div>

    </div>
</div>